.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(2vw) 0;
}

.todoList {
  width: 100%;
  max-width: 400px;
}

h1 {
  font-weight: 900;
  margin-bottom: 15px;
  padding: 0 12px;
  font-size: 2rem;
  line-height: 1em;
}

hr {
  border: none;
  height: 1px;
  background-color: #bbb;
}

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0 14px;
}

.todoItem span {
  flex: 1;
  margin: 10px 0;
  font-size: 1.2rem;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  font-size: 1.4rem;
  margin: 10px 0;
  padding: 0 12px;
}